@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}

body {
  background: #fafafa;
}

hr {
  border: none;
  height: 1px;
  background: rgba(232, 232, 232, 0.747);
}

header {
  width: 100%;
  position: relative;
}

header .mobile-banner {
  display: block;
}

@media screen and (min-width: 700px) {
  header .mobile-banner {
    display: none;
  }
}

header .desktop-banner {
  display: none;
}

@media screen and (min-width: 700px) {
  header .desktop-banner {
    display: block;
  }
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1rem;
}

@media screen and (min-width: 700px) {
  header nav {
    width: 80%;
    left: 50%;
    translate: -50%;
  }
}

header nav .logo,
header nav .menuBtn {
  z-index: 2;
}

@media screen and (min-width: 700px) {
  header nav .menuBtn {
    display: none;
  }
}

header nav .nav-list {
  display: none;
  list-style: none;
  position: absolute;
  top: 5rem;
  left: 50%;
  width: 90%;
  translate: -50%;
  border-radius: 5px;
  background: white;
  z-index: 10;
}

@media screen and (min-width: 700px) {
  header nav .nav-list {
    width: auto;
    position: static;
    translate: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
  }
}

header nav .nav-list li {
  padding: 1.3rem 1.5rem;
  position: relative;
}

header nav .nav-list li:nth-of-type(1)::after, header nav .nav-list li:nth-of-type(2)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.13);
}

@media screen and (min-width: 700px) {
  header nav .nav-list li:nth-of-type(1)::after, header nav .nav-list li:nth-of-type(2)::after {
    display: none;
  }
}

header nav .nav-list li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}

@media screen and (min-width: 700px) {
  header nav .nav-list li a {
    color: white;
    font-size: 1rem;
    font-weight: 400;
  }
}

main {
  position: relative;
  top: -4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1.5rem;
}

@media screen and (min-width: 700px) {
  main .main-content {
    width: 50%;
  }
}

main .main-content .mastercraft {
  position: relative;
  padding: 3.5rem 2rem 1.5rem;
  border: 1px solid rgba(232, 232, 232, 0.747);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background: white;
}

@media screen and (min-width: 700px) {
  main .main-content .mastercraft {
    padding: 3.5rem 2rem;
  }
}

main .main-content .mastercraft .mastercraft-logo {
  position: absolute;
  top: -12%;
  left: 50%;
  translate: -50%;
}

main .main-content .mastercraft .heading {
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (min-width: 700px) {
  main .main-content .mastercraft .heading {
    font-size: 1.5rem;
  }
}

main .main-content .mastercraft .caption {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.5em;
  color: #7a7a7a;
}

main .main-content .mastercraft .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

@media screen and (min-width: 700px) {
  main .main-content .mastercraft .btn-group {
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1rem;
  }
}

main .main-content .mastercraft .btn-group .backBtn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 50px;
  color: white;
  background: #3cb4ac;
}

@media screen and (max-width: 1000px) {
  main .main-content .mastercraft .btn-group .backBtn {
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 700px) {
  main .main-content .mastercraft .btn-group .bookmarkBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
}

main .main-content .mastercraft .btn-group .bookmarkBtn .text {
  display: none;
}

@media screen and (min-width: 700px) {
  main .main-content .mastercraft .btn-group .bookmarkBtn .text {
    display: block;
    margin-left: -2rem;
    padding: 1rem 3rem;
    border-radius: 0 50px 50px 0;
    font-weight: 500;
    background: rgba(232, 232, 232, 0.747);
  }
}

@media screen and (max-width: 950px) {
  main .main-content .mastercraft .btn-group .bookmarkBtn .text {
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }
}

main .main-content .mastercraft .btn-group .bookmarkBtn svg {
  z-index: 2;
}

main .main-content .mastercraft .btn-group .bookmarkBtn svg path {
  fill: white;
}

main .main-content .mastercraft .btn-group .bookmarkBtn svg:hover circle {
  fill: #7a7a7a;
}

main .main-content .stats {
  width: 100%;
  border: 1px solid rgba(232, 232, 232, 0.747);
  border-radius: 10px;
  padding: 2rem 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 700px) {
  main .main-content .stats {
    padding: 2rem;
  }
}

main .main-content .stats .stat-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1.5rem;
}

@media screen and (min-width: 700px) {
  main .main-content .stats .stat-content {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  main .main-content .stats .stat-content > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  main .main-content .stats .stat-content hr {
    width: 10%;
    rotate: 90deg;
  }
}

main .main-content .stats .stat-content h1 {
  color: black;
  padding-bottom: 0.3rem;
}

main .main-content .stats .stat-content span {
  font-size: 0.9rem;
  font-weight: 400;
  color: #7a7a7a;
}

main .main-content .stats hr {
  border: none;
  height: 1px;
  background: rgba(0, 0, 0, 0.13);
  width: 70%;
  margin: 0 auto;
}

main .main-content .stats .progress-bar {
  position: relative;
  width: 85%;
  height: 0.8rem;
  border-radius: 50px;
  margin-top: 1.5rem;
  background: rgba(232, 232, 232, 0.747);
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  main .main-content .stats .progress-bar {
    width: 100%;
    margin-top: 2rem;
  }
}

main .main-content .stats .progress-bar::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 70%;
  border-radius: 50px;
  background: #3cb4ac;
}

main .main-content .about {
  background: white;
  border: 1px solid rgba(232, 232, 232, 0.747);
  border-radius: 10px;
  padding: 2.5rem 1.5rem;
}

@media screen and (min-width: 700px) {
  main .main-content .about {
    padding: 2.5rem 2rem;
  }
}

main .main-content .about .heading {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 700px) {
  main .main-content .about .heading {
    font-size: 1.5rem;
  }
}

main .main-content .about .description {
  font-size: 0.895rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #7a7a7a;
}

@media screen and (min-width: 700px) {
  main .main-content .about .description {
    font-size: 1rem;
    line-height: 1.8em;
  }
}

main .main-content .about .description + .two {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

main .main-content .about .rewards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1.5rem;
}

main .main-content .about .rewards .card {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  padding: 1.5rem 1.3rem;
}

@media screen and (min-width: 700px) {
  main .main-content .about .rewards .card {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 700px) {
  main .main-content .about .rewards .card .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .main-content .about .rewards .card .header .product-name {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 700px) {
  main .main-content .about .rewards .card .header .product-name {
    font-size: 1.3rem;
  }
}

main .main-content .about .rewards .card .header .pledge-text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #3cb4ac;
}

@media screen and (min-width: 700px) {
  main .main-content .about .rewards .card .header .pledge-text {
    font-size: 1rem;
  }
}

main .main-content .about .rewards .card .caption {
  font-size: 0.9rem;
  line-height: 1.5em;
  margin: 1.5rem 0;
  color: #7a7a7a;
}

@media screen and (min-width: 700px) {
  main .main-content .about .rewards .card .caption {
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
  main .main-content .about .rewards .card .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .main-content .about .rewards .card .bottom .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 700px) {
  main .main-content .about .rewards .card .bottom .left {
    margin: 0;
  }
}

main .main-content .about .rewards .card .bottom .left .number {
  font-weight: 700;
}

main .main-content .about .rewards .card .bottom .left span {
  font-weight: 400;
  color: #7a7a7a;
}

main .main-content .about .rewards .card .bottom .rewardBtn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1rem 2.3rem;
  border: none;
  border-radius: 50px;
  color: white;
  background: #3cb4ac;
}

button {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #147b74 !important;
}

.back-this-project {
  position: absolute;
  top: 7rem;
  left: 50%;
  translate: -50%;
  display: none;
  margin: 0 auto;
  width: 90%;
  padding: 2rem 1.5rem;
  border: 1px solid rgba(232, 232, 232, 0.747);
  border-radius: 10px;
  background: white;
  z-index: 10;
}

@media screen and (min-width: 700px) {
  .back-this-project {
    width: 50%;
    top: 10rem;
    padding: 2rem;
  }
}

.back-this-project .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.back-this-project .header h1 {
  font-size: 1.2rem;
}

@media screen and (min-width: 700px) {
  .back-this-project .header h1 {
    font-size: 1.5rem;
  }
}

.back-this-project .header .close-modalBtn {
  cursor: pointer;
}

.back-this-project .caption {
  font-size: 0.9rem;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
  color: #7a7a7a;
}

@media screen and (min-width: 700px) {
  .back-this-project .caption {
    font-size: 1rem;
  }
}

.back-this-project .rewards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1.5rem;
}

.back-this-project .rewards-list .card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.back-this-project .rewards-list .card .check-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.back-this-project .rewards-list .card .check-radio input[type="radio"] {
  position: relative;
  height: 1.4rem;
  aspect-ratio: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  /* The outline will be the outer circle */
  outline: 1px solid rgba(0, 0, 0, 0.13);
}

.back-this-project .rewards-list .card .check-radio input[type="radio"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 60%;
  height: 60%;
  display: none;
  border-radius: 50%;
  background: #3cb4ac;
}

.back-this-project .rewards-list .card .check-radio input[type="radio"]:checked::after {
  display: block;
}

@media screen and (min-width: 700px) {
  .back-this-project .rewards-list .card .check-radio .check-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.back-this-project .rewards-list .card .check-radio .check-text .name {
  font-size: 0.9rem;
  font-weight: 700;
}

.back-this-project .rewards-list .card .check-radio .check-text .pledge {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #3cb4ac;
}

@media screen and (min-width: 700px) {
  .back-this-project .rewards-list .card .check-radio .check-text .pledge {
    margin: 0;
    margin-left: 2rem;
  }
}

.back-this-project .rewards-list .card .card-text {
  font-size: 0.9rem;
  line-height: 1.5em;
  color: #7a7a7a;
}

@media screen and (min-width: 700px) {
  .back-this-project .rewards-list .card .card-text {
    margin-left: 2.2rem;
  }
}

.back-this-project .rewards-list .card .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
  margin-top: 1.8rem;
}

@media screen and (min-width: 700px) {
  .back-this-project .rewards-list .card .left {
    position: absolute;
    top: 0;
    right: 2rem;
  }
}

.back-this-project .rewards-list .card .left .number {
  font-size: 1.3rem;
  color: black;
}

.back-this-project .rewards-list .card .left span {
  color: #7a7a7a;
}

.back-this-project .rewards-list .card .divider-desktop {
  display: none;
}

@media screen and (min-width: 700px) {
  .back-this-project .rewards-list .card .divider-desktop {
    display: none;
    position: relative;
    left: 50%;
    translate: -50%;
    margin: 1.5rem 0;
    width: calc(100% + 3rem);
    height: 1px;
    background: rgba(0, 0, 0, 0.13);
  }
}

.back-this-project .rewards-list .card .pledge-input {
  display: none;
}

@media screen and (min-width: 700px) {
  .back-this-project .rewards-list .card .pledge-input {
    position: relative;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.back-this-project .rewards-list .card .pledge-input .divider {
  position: relative;
  left: 50%;
  translate: -50%;
  margin: 1.5rem 0 2rem;
  width: calc(100% + 3rem);
  height: 1px;
  background: rgba(0, 0, 0, 0.13);
}

@media screen and (min-width: 700px) {
  .back-this-project .rewards-list .card .pledge-input .divider {
    display: none;
  }
}

.back-this-project .rewards-list .card .pledge-input .heading {
  text-align: center;
  font-size: 0.9rem;
  color: #7a7a7a;
}

.back-this-project .rewards-list .card .pledge-input .pledge-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 1.3rem;
}

@media screen and (min-width: 700px) {
  .back-this-project .rewards-list .card .pledge-input .pledge-container {
    margin: 0;
  }
}

.back-this-project .rewards-list .card .pledge-input .pledge-container .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.13);
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.back-this-project .rewards-list .card .pledge-input .pledge-container .input-group label {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.274);
}

.back-this-project .rewards-list .card .pledge-input .pledge-container .input-group input {
  border: none;
  max-width: 4rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.back-this-project .rewards-list .card .pledge-input .pledge-container .input-group input:focus {
  outline: none;
}

.back-this-project .rewards-list .card .pledge-input .pledge-container .continueBtn {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  background: #3cb4ac;
}

@media screen and (min-width: 700px) {
  .back-this-project .rewards-list .card .pledge-input .pledge-container .continueBtn {
    padding: 1rem 1.5rem;
  }
}

.completed-modal {
  position: absolute;
  top: 7rem;
  left: 50%;
  translate: -50%;
  width: 90%;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  border: 1px solid rgba(232, 232, 232, 0.747);
  border-radius: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  text-align: center;
  background: white;
  z-index: 20;
}

@media screen and (min-width: 700px) {
  .completed-modal {
    width: 35%;
    max-width: 29rem;
    top: 15rem;
  }
}

.completed-modal .heading {
  font-size: 1.3rem;
  color: black;
}

.completed-modal .caption {
  font-size: 0.9rem;
  line-height: 1.7em;
  color: #7a7a7a;
}

.completed-modal .gotitBtn {
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.5rem;
  color: white;
  background: #3cb4ac;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.disabled button {
  background: #7a7a7a !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.452);
  z-index: 1;
}

.overlay-active .overlay {
  display: block !important;
}

.active {
  display: block !important;
}

.active-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.active-back-this-project-card {
  border: 2px solid #3cb4ac !important;
}

.active-back-this-project-card .pledge-input {
  display: block !important;
}

@media screen and (min-width: 700px) {
  .active-back-this-project-card .pledge-input {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .active-back-this-project-card .pledge-input .divider-desktop {
    display: block !important;
  }
}

.active-bookmark .text {
  font-weight: 700;
  color: #147b74 !important;
}

.active-bookmark svg circle {
  fill: #147b74;
}
/*# sourceMappingURL=style.css.map */